/* RESET */

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

:root{
    /*PRIMARY COLORS*/
    --main-bg-color: #e4e4e4;
    --second-bg-color: #4980cc;
    --elements-bg-color: #fff;
    --main-text-color: #fff;
    --second-text-color:#3d3c3c;
    --second-title-color:#8a8888;

    /*STATE COLORS*/
    --state-stopped-color: #e13e5b;
    --state-moving-color: #278e06;
    --rinde-humedo-color: #218119;
    --rinde-seco-color: #b3d838;

    /*INDICADORES BREAKPOINTS*/
    --breakpoint-10-color: #008000;
    --breakpoint-8-color: #b3d838;
    --breakpoint-5-color: #FFFF00;
    --breakpoint-35-color: #FFA500;
    --breakpoint-2-color: #FF0000;
    --breakpoint-1-color: #8B0000;
    --breakpoint-0-color: #750000;    

    /*MARGINS*/
    --margin-very-hard: var(--very-hard);
    --margin-hard: var(--hard);
    --margin-medium: var(--medium);
    --margin-soft: var(--soft);
    --margin-very-soft: var(--very-soft);

    /*PADDING*/
    --padding-very-hard: var(--very-hard);
    --padding-hard: var(--hard);
    --padding-medium: var(--medium);
    --padding-soft: var(--soft);
    --padding-very-soft: var(--very-soft);
}

html{
  max-width: 100vw;
  text-decoration: none;
}

a{
  text-decoration: none;
}
  
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
}

ul{
  list-style-type: none;
}

li{
  list-style-type: none;
}

.loader-bar-container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 480px) {
  :root{
    --very-hard: 8px;
    --hard: 4px;
    --medium: 4px;
    --soft: 0px;
    --very-soft: 0px;
  }
  body{
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  :root{
    --very-hard: 8px;
    --hard: 4px;
    --medium: 4px;
    --soft: 0px;
    --very-soft: 0px;
  }
  body{
    font-size: 10px;
  }
}


@media screen and (min-width: 768px) {
  :root{
    --very-hard: 24px;
    --hard: 12px;
    --medium: 8px;
    --soft: 4px;
    --very-soft: 2px;
  }
  body{
    font-size: 12px;
  }
}

@media screen and (min-width: 880px) {
  body{
    font-size: 13px;
  }
}

@media screen and (min-width: 992px) {
  :root{
    --very-hard: 14px;
    --hard: 12px;
    --medium: 8px;
    --soft: 4px;
    --very-soft: 2px;
  }
  body{
    font-size: 14px;
  }
}


@media screen and (min-width: 1200px) {
  :root{
    font-size: 16px;
    --very-hard:32px;
    --hard: 16px;
    --medium: 12px;
    --soft: 8px;
    --very-soft: 4px;
  }

  body{
    font-size: 14px;
  }
  
}

